{% extends 'web2/base.html' %}
{% load static %}
{% block main %}
<header class="masthead" style="background-image: url('{% static "post/assets/img/post-bg.jpg" %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <img src="{{detail.image.url}}" alt="" width="256px"height="300px">
                    {{detail.desc}}
                    <a href="http://spaceipsum.com/">Space Ipsum</a>
     
                </p>
            </div>
        </div>
    </div>
</article>
{% endblock%}
